*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 13px 'Open Sans', Sans-Serif, Arial;
}

h1,
h3 {
  margin-bottom: 12px;
  color: $purple;
  font-size: 32px;
}

strong {
  font-weight: 600;
}

a {
  color: $purple;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input {
  padding: 5px;
  font-size: 13px;
  border: 0;
  border-bottom: 1px solid $grey;
}

input[type="text"] {
  width: 100%;
}

.radio-button {
  margin-top: 8px;
  display: inline-flex;

  .radio-button__label {
    display: flex;
  }
}

form {
  .form_row {
    margin-bottom: 24px;

    .errormessage {
      position: absolute;
      color: $red;
    }

    &.message {
      div {
        text-align: top;
        vertical-align: left; 
      }
    }
  }
}

// buttons
.btn {
  width: 100%;
  border-radius: 37px;
  padding: 15px;
  font-size: 16px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;

  &-primary {
    background-color: $purple;
    color: $white;
  }
}
